////
/// Group
////


@mixin group($name) {
  $group: map-get($colors, $name);

  @each $color-name, $color-code in $group {
    .#{$md-css-prefix}-#{$md-text-prefix}-#{$name}-#{$color-name} {
      color: #{$color-code};
    }

    .#{$md-css-prefix}-#{$md-text-prefix}-#{$name}-#{$color-name} {
      color: #{$color-code};
    }
  }
}
